@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap');
/*	Created by Max Festersen Hansen at SDU DS819 in 2021.	 */

/* 	COLORS	 */
/*TODO*/
/* 	OPTIONS	 */
html, body{
	height: 100%; /* 	Enables manipulation of height in % on block-elements.	 */
	margin: 0; /* 	Removes document margin.	 */
	padding: 0; /* 	Removes document padding.	 */
}

html{
	scroll-behavior: smooth; /* 	Gives smooth scrolling effect to links that refer to a sektion. It does not work in Safari and Edge.	 */
}


/* 	PAGE LAYOUT	 */
body{
	background-image: url("../img/interlaced.png");	/* 	Background pattern from Toptal Subtle Patterns	 */
	background-color: #F4F5F6;
}

.wrapper{ /* 	Wraps content and defines a max-width for content	 */
    min-height: 1px;
    height: auto;
	width: auto;
	max-width:90%;
	margin:2vh auto;
}

#main-header{
	position: relative;
	float: left;
	background-color: rgba(191, 216, 224, 0.3);
	width: 100%;
	height: 40vh;
	margin: auto;
	overflow: hidden;
	z-index: 1;
}

#main-header, #main-header *{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased
}

.hero-image-wrapper{
	display: block;
	position: relative;
	height: 100%;
	z-index: 2;
}

.hero-image-wrapper img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

#main-header > h1 {
	position: absolute;
	top: 2vh;
	left: 2vw;
	z-index: 5;
	font-size: 48px;
}

#main-header > p {
	position: absolute;
	bottom: 2vh;
	left: 2vw;
	z-index: 4;
	font-size: 32px;
}

#main-header .diabetes-logo {
	position: absolute;
	top: 2vh;
	right: 2vw;
	z-index: 3;
	max-height: 90vh;
}

#main-header > h1, #main-header > p{
	color: #568BD7;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ecfff8;
	text-stroke-width: 1px;
    text-stroke-color: #ecfff8;
	font-weight: 700;
}

#main-header .hero-image-source{
	position: absolute;
	bottom: 0;
	right:0;
	opacity: 0.5;
	max-width: 10vh;
	max-height: 10vw;
}

#mainnavigation{
	float: left;
	width: 100%;
	margin: 1vh 0;
}

#mainnavigation ul{
	float: left;
	width: 100%;
}

#mainnavigation li{
	float: left;
	min-width: calc(16.66% - 0.8333vw);
	padding-right: 1vw;
}

#mainnavigation li:last-child{
	padding-right: 0;
}

#mainnavigation li a{
	text-align: center;
	color: #ECFFF8;
	background-color: #CC2936;
	float: left;
	width: 100%;
	height: 100%;
	padding: 1vh 0;
}

#mainnavigation li a:hover{
	background-color: #a3202b;
}

main > section{
	float:left;
	width:100%;
	clear: both;
	padding-top: 5vh;
}

main > section, main > section > *{
	box-sizing: border-box;
}


section > article{
	float:left;
	width:65%;
}


section > aside{
	float: left;
	width: 30%;
}

section > aside > .content-wrapper, section > article > .content-wrapper{
	background-color: #BFD8E0;
	max-height:80vh;
}

section > article:nth-child(odd), section > aside:nth-child(odd){ /* with childs, for experimenting with different positions*/
	margin-right: 5%;
}

section > article > header, section > aside > header{
	float: left;
	clear: both;
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding:0 2vw;
	border-bottom:solid 1px #231F20;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #568BD7;
	box-sizing:border-box;
}

section > footer{
	float: left;
	clear: both;
	width: 100%;
	margin-top: 1vh;
}

.navigation{
	float: left;
	width: 100%;
	margin: 1vh 0;
}

.navigation ul{
	float: left;
	width: 100%;
}

.navigation li{
	float: left;
	min-width: calc(33.33% - 0.75vw);
	padding-right: 1vw;
}

.navigation li:last-child{
	float: right;
	padding-right: 0;
}

.navigation li a{
	text-align: center;
	color: #231F20;
	background-color: #DEB841;
	float: left;
	width: 100%;
	height: 100%;
	padding: 1vh 0;
}

.navigation li a:hover{
	color: #BFD8E0;
	background-color: #b19334;
}


/* 	TEXT	 */
span, p, a, h1, h2, h3, h4, h5, h6, th, td, li, img{
	font-family: 'Noto Sans', sans-serif;
}

a{
	color: #568BD7;
	text-decoration: none;
	cursor: pointer;
}

a:visited{
	color: #335381;
}

a:hover{
	color: #77a2df;
}

p{
	/*font-size: 14px;
	line-height: 27px;
	color: #444;*/
	clear: both;
}

p a{
	text-decoration: underline;
}

p a:link{
	/*color: #56979F;*/
}

p a:visited{
	/*color: #6D6B88;*/
}

p a:active{
	/*color: #916D47;*/
}

h1, h2, h3, h4, h5, h6{
	margin: 0; /* 	Removed standard margin, since whitespace is provided through line height.	 */
	display: inline-block; /* 	Makes width element width by default.	 */
	clear: both; /* 	Cleares both sides, but other clashing inline blocks must also have cleared clashing side, to acctually clear.	 */
	font-weight: normal;
}


/* 	GRAPHICS	 */
img{
	max-width: 100%;
	max-height: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

a img{
	border: none;
}

figure{
	display: inline-block;
	margin: 0;
	padding: 0;
}


/* 	LISTS	 */
ul, ol, dl{
	margin: 0;
	padding-left: 0;
}

ul, dl{
	list-style-type: none;
}

dl{
	float: left;
}

ul, ul li, ol, ol li, dl, dl dt, dl dd{
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

/* 	CLASSES	 */
.hidden{
	display: none;
}

.aside-wrapper{
	clear: both;
}

.content-wrapper{
	clear: both;
	float: left;
	box-sizing:border-box;
	width: 100%;
	max-height: calc(80vh - 55px);	/*	height of parrent - 55px from header	*/
	padding:2vh 2vw;
	overflow-y: auto;
}

/* 	TITLES	 */
.title{
	float: left;
	width: 100%;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*	NEW YORK TIMES	*/
.news-article-wrapper{
	float:left;
	width: 100%;
	padding: 2vh 0;
	border-top: solid 1px #CC2936;
	border-bottom: solid 1px #DEB841;
}

.news-article-wrapper:first-child{
	padding-top: 0;
	border-top: 0px;
	margin-top: 0;
}

.news-article-wrapper:last-child{
	padding-bottom: 0;
	border-bottom: 0px;
}

.news-article-wrapper article{
	float: left;
	width: 100%;
}

.news-article-wrapper header img{
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 2vw;
}

.news-article-wrapper header h3{
	max-width: calc(70% - 75px - 1vw);
}

.news-article-wrapper header a{
	float:right;
	max-width: calc(30% - 75px - 1vw);
}

.news-article-wrapper header h3,
.news-article-wrapper header a{
	line-height: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news-article-wrapper footer p{
	font-style: italic;
}
.news-article-wrapper footer p span{
	color: #666;
}

.news-article-wrapper header,
.news-article-wrapper div,
.news-article-wrapper footer{
	float: left;
	clear: both;
	width: 100%;
}

/* INFOBOX */
.infoBox{
	display: table;
	float: left;
	width: 100%;
	text-align: justify;
	border-spacing: 1vw 2vh;
}

.infobox-above{
	text-align: left;
	background-color: transparent !important;
}

.infobox-above:before{
	content: "Scientific  name: ";
}

.infoBox .image{
	display: block;
	margin:0 auto;
}

.infoBox .image img{
	display: block;
	margin:0 auto;
}

/*	TYPE1/2 TABLE*/
.type-stats{
	display: table;
	float: left;
	width: 100%;
	text-align: justify;
	border-spacing: 1vw 2vh;
}

.type-stats caption{
	display: none;
	font-family: 'Noto Sans', sans-serif;
	text-align: left;
	font-weight: 700;
	font-size: 120%;
}

/* 	MAPBOX	 */
#mapbox-map{
	width: 100%;
	height: 200px;
	max-width:100%;
	max-height:100%;
}

/*	OPENLIBRARY	*/	
#book-list {
	max-height: 50vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.book-list li{
	float:left;
	width: 100%;
	padding: 2vh 0;
	border-top: solid 1px #CC2936;
	border-bottom: solid 1px #DEB841;
}

.book-list li:first-child{
	padding-top: 0;
	border-top: 0px;
	margin-top: 0;
}

.book-list li:last-child{
	padding-bottom: 0;
	border-bottom: 0px;
}

.image-wrapper{
	clear: both;
    width: 100%;
    line-height: 15vh;
}

.image-wrapper img{
    display: block;
    max-width: 100%;
	max-height: 15vh;
    margin: 0 auto;
}

.book-info{
	font-style: italic;
}
.book-info span{
	color: #666;
}

/* 	OMDB - MOVIE LIST	 */
#movies, #movie-list{
	float: left;
	width: 100%;
}

#movie-list li{
	float:left;
	width: 100%;
	padding: 2vh 0;
	border-top: solid 1px #CC2936;
	border-bottom: solid 1px #DEB841;
}

#movie-list li:first-child{
	padding-top: 0;
	border-top: 0px;
	margin-top: 0;
}

#movie-list li:last-child{
	padding-bottom: 0;
	border-bottom: 0px;
}


#movie-list article{
	float: left;
	width: 100%;
}

#movie-list header{
	float: left;
	clear: both;
	width: 100%;
}

#movie-list header img{
	float: left;
	height: 150px;
	margin-right: 2vw;
}

#movie-list header h3{
	line-height: 150px;
}


#movie-list header h3 span{
	font-style: italic;
	color: #666;
}

#movie-list footer{
    position: relative;
	float: left;
	clear: both;
    height: 0;
	width: 50%;
    padding-bottom: 28.125%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
	margin-top: 1vh;
    overflow: hidden;
}

#movie-list footer.error{
	width: 100%;
	height: auto;
	padding-bottom: 0;
}

#movie-list footer iframe{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
	border: none;
}

/*	HIGHCHART	*/
#highcharts-figure{
	float: left;
	width: 100%;
}

/* ANIMATION */
/* Fading animation: https://www.w3schools.com/howto/howto_js_slideshow.asp */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}
